.inactive-effect {
  background-color: #000000;
  opacity: 0.8;
}

GtkPaned {
  background-color: transparent;
}

.menu-button {
  padding: 0;
  margin: 0;
  border-width: 0;
}

.menu-button .label {
  padding: 3px;
}

.status-bar {
  background-color: rgb(35,35,40);
}

.status-bar .label {
  padding: 8px;
}

.collapse-button {
  margin: 0;
  padding: 0;
  font-size: 12px;
  color: #ffffff;
  background-color: transparent;
  background-image: none;
  border-width: 0px;
  border-image: none;
}


.collapse-button:hover {
  color: rgba(255, 255, 255, 0.8);
}

.collapse-button.error {
  color: #ff0000;
}

.collapse-button.error:hover {
  color: rgba(255, 0, 0, 0.8);
}