.inactive-effect {
  background-color: #000000;
  opacity: 0.8;
}

GtkPaned {
  background-color: transparent;
}

.menu-button {
  padding: 0;
  margin: 0;
  border-width: 0;
}

.menu-button .label {
  padding: 3px;
}

.status-bar {
  background-color: rgb(35,35,40);
  color: #AAAAAA;
}

.status-bar .label {
  padding: 8px;
}

.status-bar .menu-button {
  background-color: transparent;
  background-image: none;
  border-width: 0;
  border-image: none;
}

.status-bar .menu-button .label {
  color: #AAAAAA;
}

.status-bar .menu .label {
  padding: 1px;
}